/*## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very vark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700 */
/* --- 06 BORDER-RADIUS
-Default:;
Medium:;
--- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITE SPASE
 - SPACING SYSTEM (px)
   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
.html {
  font-size: 16px;
}
/* APP ENTIRE WIDTH*/
.app {
  max-width: 1440px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    padding: 10px;
  }
  .navigation {
    padding-left: 0 !important;
    order: 1;
  }
  .logo {
    order: 2;
    margin-right: auto;
    margin-left: 20px;
  }
  .userBar {
    order: 3;
    margin-left: auto;
  }
  .open {
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mobile-list {
    display: block;
    box-sizing: border-box;
    list-style-type: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: white;
    z-index: 999;
    transition: left 0.3s ease;
    padding: 20px;
  }
  .mobile-list.activated {
    left: 0px;
    transition: left 0.3s ease;
  }
  .mobile-list .close {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    width: 20px;
    color: hsl(220, 14%, 75%);
    margin-bottom: 30px;
  }
  .mobile-list .item {
    margin-bottom: 20px;
  }
  .mobile-list .item > a {
    font-weight: 700;
    color: hsl(220, 13%, 13%);
  }
  .mainContainer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .mobile-slider {
    width: 100%;
  }
  .mobile-slider .carousel-slider {
    height: 300px !important;
  }
  .mobile-slider .control-dots,
  .mobile-slider .carousel-status,
  .mobile-slider .thumbs-wrapper.axis-vertical {
    display: none;
  }
  .mobile-slider .carousel .control-disabled.control-arrow {
    display: block !important;
  }
  .mobile-slider .control-arrow {
    height: fit-content;
    top: 50% !important;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 39.6px;
    opacity: 1 !important;
    background-color: #fff !important;
    color: black !important;
  }
  .mobile-slider .carousel .control-prev.control-arrow:before {
    border-right-color: black !important;
  }
  .mobile-slider .carousel .control-next.control-arrow:before {
    border-left-color: black !important;
  }
  .mobile-slider .carousel .control-prev {
    left: 20px !important;
  }
  .mobile-slider .carousel .control-next {
    right: 20px !important;
  }
  .card {
    padding: 20px !important;
  }
  .box-prices {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
  }
  .boxWithButtons {
    flex-direction: column !important;
  }
  .buttons {
    width: 100%;
  }
  .number {
    flex: 1;
  }
  .addToCard {
    width: 100%;
  }
  .cartContainer {
    z-index: 800;
    width: calc(100% - 20px) !important;
    margin: 0 auto;
    right: 0 !important;
    left: 0 !important;
  }
}

/* HEADER */
header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.userBar {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}
.icon-cart {
  cursor: pointer;
}
.user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px hsl(26, 100%, 55%);
}
/* END OF HEADER */
/* NAVIGATION */
.logo {
  width: 150px;
  height: 20px;
}
.navigation {
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.list {
  list-style: none;
  color: hsl(220, 14%, 75%);
  display: flex;
  gap: 25px;
  align-self: center;
}
a:link {
  text-decoration: none;
  font-size: 16px;
  color: hsl(217, 9%, 45%);
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 2px solid hsl(223, 64%, 98%);
    padding: 30px 10px;
  }
  .navigation {
    flex: 1;
  }
  a:hover,
  a:visited {
    color: hsl(220, 13%, 13%);
    border-bottom: 3px solid hsl(26, 100%, 55%);
    padding-bottom: 45px;
  }
  .mainContainer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    position: relative;
  }
}

/*END OF  NAVIGATION */
/* MAIN PART */
/* GALLERY */
.galleryCard {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mainImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
/* small image bellow main image */
.otherImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 70px;
  height: auto;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  transition: all 0.4s;
  overflow: hidden;
  outline: 2px solid transparent;
}
.image:hover {
  opacity: 0.8;
}
.active {
  opacity: 0.5;
  outline-color: hsl(26, 100%, 55%);
}
/* END OF GALLERY */
/* LIGHTBOX */
.lightBoxOverlay {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.lightBox {
  background-color: transparent;
  max-width: 50%;
  padding: 20px;
  position: relative;
  padding: 25px 0px 10px 0px;
}
.mainImageLightBox {
  width: 390px;
  height: 390px;
  border-radius: 10px;
}
.lightboxClose {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  fill: #fff;
}
.contentLightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px !important;
  align-items: center;
  padding: 30px 0px 0px 0px;
}
.mainImageContentLightBox .image {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s;
}
.lightboxClose:hover {
  fill: hsl(26, 100%, 55%);
  stroke: hsl(26, 100%, 55%);
}
/* ICONS */
.mainImageContentLightBox {
  position: relative;
}
.icon-previous,
.icon-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  stroke: hsl(219, 9%, 45%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.icon-previous,
.icon-next {
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 10;
  border: 1px solid hsl(219, 9%, 45%);
}
.icon-previous {
  left: 0;
  transform: translate(-50%, -100%);
}
.icon-next {
  right: 0;
  transform: translate(50%, -100%);
}
.icon-previous:hover,
.icon-next:hover {
  fill: hsl(26, 100%, 55%) !important;
  stroke: hsl(26, 100%, 55%) !important;
}
/* END OF ICONS */
/* CARD ITEM */
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.card-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.card-box-shorttitle {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}
.card-box-title {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: -0.8px;
  margin-bottom: 15px;
}
.card-box-text {
  color: hsl(219, 9%, 45%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.box-prices {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.prices {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bold-price {
  font-weight: 700;
  font-size: 22px;
}
.color-price {
  color: hsl(26, 100%, 55%);
  font-weight: 600;
  background-color: hsl(25, 100%, 94%);
  width: 45px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price span {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
  font-size: 14px;
}
.boxWithButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button-plus,
.button-minus,
.number {
  background-color: hsl(223, 64%, 98%);
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addToCard {
  background-color: hsl(26, 100%, 55%);
  padding: 10px 50px;
  color: #fff;
  fill: #fff;
  stroke: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.cardButton {
  fill: #fff !important;
  stroke: #fff !important;
  color: #fff;
  width: 15px;
  height: 15px;
  cursor: pointer;
  filter: invert(100%);
}
/* END OF CART ITEM*/
/* SHOPPING CART */
.cartCount {
  position: absolute;
  top: 5px;
  right: 80px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartContainer {
  position: absolute;
  right: 60px;
  top: -14px;
  background-color: white;
  border: 1px solid hsl(223, 64%, 98%);
  width: 350px;
  height: 220px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  transform: translate(0%, 50%);
  border-radius: 10px;
}
/* when card is empty */
.emptyTitle {
  font-size: 16px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 10px;
  padding: 15px 20px;
}
.emptyText {
  text-align: center;
  font-size: 16px;
  padding: 40px 40px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  border-top: solid 1px hsl(223, 64%, 98%) !important;
}
/*When card is not empty  */
.cartDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
}
.cartProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cartImg {
  width: 50px;
  height: 50px;
}
.productInfo {
  flex-grow: 1;
  margin-left: 10px;
  color: hsl(219, 9%, 45%);
  align-items: flex-start;
}
.garbageIcon {
  border: none;
  background: none;
  font-size: 25px;
}
/* END OF SHOPPING CART */
